<h1 class="logo">3-Fund Calculator</h1>
<div class="container">

	<div class="row">
	<div class="col s6 offset-s3 step">
		<p class="flow-text">How much principal are you working with?</p>
		<form>
			<span class="input-symbol-dollar">
	    		<input type="number" class="input-field" min="1" ng-model="principal"/>
			</span>
		</form>
		
			
		<p class="flow-text">How much commission do you need to pay on each trade?</p>
		<span class="input-symbol-dollar">
			<input type="number" name="" class="input-field" placeholder="Commission" ng-model="commission">
		</span>
		
		<a href="#/two" ng-click="setPrincipal(principal); setCommission(commission); setPageDirection(true)" class="waves-effect waves-light btn">NEXT</a>
	</div>
	</div>
</div>