<div class="col s6 offset-s3 step">
	
	<div class="row">
		<div class="col s4">
			<h4>VTI</h4>
			<p class="flow-text">{{percentVti}}%</p>
			<p class="flow-text">Last Price: {{funds.vti}}</p>
		</div>
		<div class="col s4">
			<h4>VXUS</h4>
			<p class="flow-text">{{percentVxus}}%</p>
			<p class="flow-text">Last Price: {{funds.vxus}}</p>
		</div>
		<div class="col s4">
			<h4>BND</h4>
			<p class="flow-text">{{percentBnd}}%</p>
			<p class="flow-text">Last Price: {{funds.bnd}}</p>
		</div>
	</div>
	
	<a href="#/two"><button class="waves-effect waves-light btn">Back</button></a>
</div>