<div class="col-md-4 col-md-offset-4 step-1">


	<form>
		<p>VTI</p>
		<input type="range" ng-change="checkPercentTotalAndRebalance(percentVti)" max="100" step="1" ng-model="percentVti">
		<p>{{percentVti}}%</p>
		<p>VXUS</p>
		<input type="range" ng-change="checkPercentTotalAndRebalance(percentVxus)" max="100" step="1" ng-model="percentVxus">
		<p>{{percentVxus}}%</p>
		<p>BND</p>
		<input type="range" ng-change="checkPercentTotalAndRebalance(percentBnd)" max="100" step="1" ng-model="percentBnd">
		<p>{{percentBnd}}%</p>
	</form>
	<a href="#/"><button class="btn btn-primary"> <- Back</button></a>
</div>